[Unit]
Description=TIS check multi providers
Wants=shorewall.service
After=shorewall.service

[Service]
Type=simple
StandardOutput=syslog
ExecStart=/usr/bin/python /opt/check_providers/check_providers.py monitor
Restart=on-abort

[Install]
WantedBy=basic.target
