[Unit]
Description=TIS check multi providers
Wants=shorewall.service
After=shorewall.service

[Service]
Type=simple
StandardOutput=syslog
ExecStart=/usr/bin/python /usr/local/bin/check_providers.py monitor -i 20
Restart=on-abort

[Install]
WantedBy=basic.target
